figure {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid lightseagreen;
    border-radius: 4px;
}
figure img {
    max-height: 256px;
    border-radius: 4px;
    border: 2px solid lightseagreen;
    margin-top: 10px;
}
figure figcaption {
    border-top: 2px solid lightseagreen;
    margin-bottom: 10px;
}

.title {
    font-weight: 700;
}

.content {
    padding: 8pt;
}

.titleborder {
    border: solid 2px lightseagreen;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: 600;
}

pre code {
    border: solid 2px white;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-size: 1.1em;
    font-weight: 600;
    width: 100%;
}

ul, ol {
    padding-left: 3em;
}

ul li::marker {
    content: '〄. ';
}