@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #0d0d11;
    color: lightseagreen;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 500;
    min-width: 200px;
    max-width: 900px;
    align-self: center;
    margin: auto;
}

hr {
    border: 1px solid lightseagreen;
}

.cool {
    display: none;
}

.jpfont {
    font-family: 'Noto Sans JP', sans-serif;
}
.arfont {
    font-family: 'Noto Sans Arabic', sans-serif;
}
.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

header img {
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 2.5%;
    max-width: 30%;
    height: auto;
    border: 1px solid lightseagreen;
}

header {
    display: flex;
    width: 100%;
    color: gray;
}
.right {
    margin-right: 0.5%;
    text-align: right;
}
header nav li {
    display: inline;
    text-decoration: none;
}
header nav a {
    font-size: 1.25em; 
    color: lightseagreen;
    text-decoration: none;
}
header nav abbr {
    text-decoration: none;
}

main {
    align-content: center;
}

.welcome {
    font-size: 1.25em;
    display: flex;
    text-decoration: none;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
}

.contents ul {
    margin-top: 0.5%;
    display: grid;
    font-size: 1.3em;
    padding: 0;
}
.contents li {
    list-style-type: none;
    border-top: 2px dashed lightseagreen;
    margin-bottom: 0.75%;
}
.contents li a, .contents li span {
    text-decoration: none;
}
.contents li .data {
    text-decoration: none;
    float: right
}
.contents li .title {
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    padding-right: 2em;
}
.contents li .issue {
    font-size: 10pt;
    opacity: 50%;
}
footer {
    text-align: center;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}